<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiziSinema.com</title>
    @await Html.PartialAsync("_TemStyles")
    @await RenderSectionAsync("Styles", false)
</head>

<body class ="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <div>
        @await Component.InvokeAsync("TemNavbar")
        @RenderBody()
        @await Component.InvokeAsync("TemFooter")
    </div>

    @await Html.PartialAsync("_TemScripts")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
