
<a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
    <img src="~/templet/assets/img/logo.png" />
    <h1>DiziSinema</h1>
    <span>.</span>
</a>


<nav id="navmenu" class="navmenu bg-black text-white p-2">
    <ul>
        <li><a href="/" class="active">Ana Sayfa</a></li>
        <li><a asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a></li>
        <li class="dropdown has-dropdown">
            <a><span>Seçiniz</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
                <li class="dropdown has-dropdown">
                    @await Component.InvokeAsync("GenreMain")
                </li>
                <li><a asp-area="" asp-controller="Movie" asp-action="Index">Filmler</a></li>
                <li><a asp-area="" asp-controller="" asp-action="">Diziler</a></li>
            </ul>
        </li>
        <li><a asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a></li>
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

