<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiziSinema.MVC</title>
    @await Html.PartialAsync("_Styles")
    @await RenderSectionAsync("_Styles", false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @await Component.InvokeAsync("Navbar")
        @await Component.InvokeAsync("MainSidebar")
        @RenderBody()
        @await Component.InvokeAsync("Footer")
    <div>
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
