@model List<MovieMainViewModel>

    <div class="section-title">
        <h4>@ViewBag.Genre</h4>
    </div>

<!-- Portfolio Item-->
@foreach (var m in Model)
{
    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
        <img src="http://localhost:4100/images/Movies/@m.ImageUrl" class="img-fluid">
        <div class="portfolio-info">
            <h4>@m.MovName</h4>
            <p>@m.MovIntro</p>
            <a href="http://localhost:4100/images/Movies/@m.ImageUrl" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-area="" asp-controller="Movie" asp-action="Index" asp-route-id="@m.Id" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>

    <!-- End Portfolio Item -->
}