@model List<MovieViewModel>

    <div class="container py-5">
    </div>
<!-- Portfolio Item-->
@foreach (var m in Model)
{
    <div class="container">
        <div class="row">
            <img src="http://localhost:4100/images/Movies/@m.ImageUrl" class="img-fluid">
            <div class="">
                <h4>@m.MovName</h4>
                <p>@m.MovIntro</p>
                <a href="http://localhost:4100/images/Movies/@m.ImageUrl"><i class="bi bi-zoom-in"></i></a>
                <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@m.Id" class="details-link"><i typeof="button" class="btn btn-primary">Detay</i></a>
            </div>
        </div>
        
    </div>

    <!-- End Portfolio Item -->
}