@model List<MovieViewModel>
<main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">


        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">Web sitemize Hoşgeldiniz</h2>
                    <p data-aos="fade-up" data-aos-delay="200">Film Ve Dizi Dünyası Burada</p>
                </div>
                <div class="col-lg-5">
                    <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
                        <input type="text" class="form-control" placeholder="Email Adrresinizi Giriniz">
                        <input type="submit" class="btn btn-primary" value="Kaydol">
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero Section -->







    <!-- Portfolio Section - Home Page -->
    <section id="portfolio" class="portfolio">

        <div class="container">

            <div class="isotope-layout"  >

                <ul class="portfolio-filters isotope-filters"  >
                    <li data-filter="*" class="filter-active">Tümü</li>
                    <li data-filter=".filter-app">Dizi</li>
                    <li data-filter=".filter-product">Film</li>
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container"  >

                    @foreach (var m in Model)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/templet/assets/img/masonry-portfolio/film1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 1</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/templet/assets/img/masonry-portfolio/film1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>

                        <!-- End Portfolio Item -->
                    }
                   


                    
@*                     @foreach (var s in Model)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="~/templet/assets/img/masonry-portfolio/film2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Product 1</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/templet/assets/img/masonry-portfolio/film2.jpg" title="Product 1" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>

                        <!-- End Portfolio Item -->
                    } *@
                    @* sadece movieler cekilecek *@
                   


                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section>
    <!-- End Portfolio Section -->

   
    


</main>