@model List<GenreViewModel>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tür Listeleri</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="myDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="55">Id</th>
                                        <th>Ürün</th>
                                        <th width="55">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var g in Model)
                                    {
                                        <tr>
                                            <td>@g.Id</td>
                                            <td>@g.GenreName</td>
                                            <td>
                                                <a asp-area="Admin"
                                                   asp-controller="Genre"
                                                   asp-action="Edit"
                                                   asp-route-id="@g.Id"
                                                   class="btn btn-warning btn-sm"><i class="far fa-edit"></i></a>
                                                <a asp-area="Admin"
                                                   asp-controller="Genre"
                                                   asp-action="Delete"
                                                   asp-route-id="@g.Id"
                                                   class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles {
    @await Html.PartialAsync("_DataTablesCssPartial")
}

@section Scripts {
    @await Html.PartialAsync("_DataTablesJsPartial")
}
